body {
  background-image: radial-gradient(circle at center 200px, rgba(0,0,0,0) 30%, #212124 120%);
  background-color: #383842;
  background-attachment: fixed;
}

.box-shadow {
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 80px rgba(0,0,0,.4);
  z-index: -1;
}

.header-font {
  font-family: 'Raleway', sans-serif;
}

.portfolio-title {
  font-size: 33px;
}

.portfolio-color {
  color: #9CF;
}

.cert-image {
  margin-bottom: 20px;
}

.button-background {
  background: #B0C7E0;
}

h1 {
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 2.2em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

.code-card {
  width: 19rem;
  background-image: linear-gradient(20deg, #efe8fa 2%, white 60%, #b6b6d9 88%, #d3e6f5 99%);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.film-scoring-card {
  width: 100%;
  max-width: 562px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.film-scoring-video-responsive {
  position: relative;
  background-color: black;
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
}

.film-scoring-video-responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-text {
  color: #125;
}

.content-grid {
  margin: 40px 0px;
  display: grid;
  gap: 28px;
  justify-items: center;
}

.video-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
}

img {
  border-style: solid;
  border-width: 3px;
  border-color: #BBB;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

.linkedin-color {
  color: #2867B2;
}