table {
  margin: auto;
  background-color: #C0DFF8;
  border: 2px solid black;
  border-radius: 1%;
  padding: 0px 60px;
}

td {
  margin: auto;
  padding: 0px 50px 30px;
}

h1 {
  font-family: 'brush script MT';
  font-size: 40px;
}

h2 {
  font-family: 'brush script MT';
  font-size: 30px;
  margin: 15px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.center {
  text-align: center;
}

.cellWidth {
  width: 400px;
}