.grid {
 display: grid;
 grid-template-columns: 200px 1fr 200px;
 grid-template-rows: auto 1fr auto;
 gap: 5px;
 height: 90vh; 
 text-align: center;
}

header,
aside,
article,
footer {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 2em;
}

header, 
footer {
  grid-column: 1 / 4;
  background: skyblue;
  padding: 8px;
}

aside {
  background: crimson;
}

article {
  background: black;
}