.board {
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  height: 300px;
  background-color: #DDD;
  border: 1px solid black;
  display: grid;
  grid-template-columns: Repeat( 3, 1fr);
  grid-template-rows: Repeat( 3, 1fr);
  justify-items: center;
  align-items: center;
}

.square {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}