h1 {
  color: #0170FF;
}

a {
  color: #FF0101;
}

li {
  list-style-type: none;
  background-color: #F0F0F0;
  padding: 10px 20px;
  border-left: 5px solid blue;
}

.content {
  padding: 20px;
  margin: 10px;
  font-style: italic;
  background-color: #424EDC;
  color: #FFFFFF;
}

.active {
  border-left: 5px solid cyan;
}

.footer {
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #424EDC;
  color: #FFFFFF;
}
