.on {
  background: purple;
}

.container {
  display: grid;
  padding: 20px;
  gap: 15px;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

.target {
  padding: 50px;
  text-align: center;
  border-style: solid;
  font-size: 2em;
}
