body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

button {
  background-color: #0c80f3;
  border: 6px solid #0ff166;
  border-radius: 10px;
  font-size: 5em;
}

.info {
  text-align: center;
  color: white;
  display: grid;
  grid-row: 4/5;
  grid-column: 1/4;
  align-items: center;
  justify-items: center;
}

.block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
}